<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpeg" %>
	</div>
	
	<div id="content">
		<h1>It's Mr.Stick Figure </h1>
		<p>Coldplay menjadi terkenal dengan dirilisnya singel "Yellow" pada tahun 2000 dan dilanjuti oleh album debut mereka yang dirilis pada tahun yang sama, Parachutes, yang masuk ke nominasi Mercury Prize.</p>
	</div>
</div>			